@charset "UTF -8";

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

body {
    background-image: url(https://thumbs.dreamstime.com/z/soft-english-letters-numbers-school-office-supplies-blue-background-back-to-stationary-concept-kid-s-set-teaching-170966100.jpg);
}
.header {
    background-color: #a7cdd2bc;
    padding: 2%;
    text-align: center;
    width: auto;
    border-radius: 9px;
    
}
.nav {
    text-align: left;
    background-color: #ecdca0;
    padding: 3px;
    
    width: 237px;box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.705);
    border-radius: 2px;
    margin: 51px 0px -22px 1px;
    
}
.a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    padding-right: 7px;
    
    
}
.h1 { 
    font-family: 'Arvo', serif;
    font-size: 20px;
}
.main {
    background-color: #ffffff49;
    width: 1200px;
    padding: auto;
    margin: auto;
    border-radius:  9px;
}
.pm {
    font-size: 28px;
    text-align: center;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.705);
}
.p2 {
    font-size: 28px;
    text-align: center;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.705);
}

.footer {
    text-align: center;
    background-color: #ffffff;
    margin: 0%;
    
}
.pf {
    font-size: 15px;
    text-align: revert;
    padding: 10px 10px 10px 10px;
}
